.font-black-xl{
    color: black;
    font-size: large;
  }

.wrapper, img{
    width:60%;
    height: 60%;
}



hr.line {
    border-top: 2px solid black;
}

.container-conimg {
    background-color: white;
    position: relative;
    text-align: center;
    line-height: 1.4;
    flex-basis: 100%!important;

}

.beige {
    background-color: #FAF9F7;


}

.alturadif {
    background-color: #FAF9F7;
    height: 105px;
    position: relative;
    text-align: center;
    line-height: 1.4;


}

.navbar-center{
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;

}

li {
    display:inline-block;
}

.center{
    text-align: center;
    display: flex;
    flex-grow: 1;
}



.general{
    margin: auto;
    width: 93%;
    padding: 10px;
    flex-basis: 100%!important;
    

}
.general2{
    margin: auto;
    width: 70%;
    padding: 10px;
    flex-basis: 100%!important;
}

.shadow{
    font-size: 20px;
    line-height: 1.7;
}

.textoart{
    text-align: justify;
    text-justify: inter-word;
    height: 50%;

    
}
.texti{
    text-align: justify;
    text-justify: inter-word;
    height: 50%;


    
}

.texto{
    text-align: center;
    align-items: center;
    text-justify: inter-word;
    height: 50%;
    padding-left: 15%;
    flex-basis: 100%!important;

    
    
}

.links{
    text-align: center;
    text-justify: inter-word;
    height: 50%;

    flex-basis: 100%!important;
    
}


.h4{
    padding-left: 5%;
    font-size: 20px;
    line-height: 1.7;

}

.textoinit{
    
    text-align: left;
    text-justify: inter-word;
    line-height:1.7;
    flex-basis: 100%!important;
}



.bold{
    font-weight: bold;
}
.bg-img{
    width: 100%;
    opacity: 0.5;
}

.bg-img2{
    width: 100%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centered1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centered2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.img-rounded{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 100%!important;
}

.img-rectangle{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}


.pink-text{
    color: #FF3AAA !important;
}

.font{
    font-size: 11px;
    letter-spacing: 1px;
}
.footerfont{
    font-size: 16px;
}

.black-btn{
    color: black !important;
    color: black;
    text-decoration: none;

    
}

.black-btn:hover, .black-btn:active, .black-btn:visited{
    color: black !important;
    text-decoration: underline;
}

.blue-text:hover, .blue-text:active, .blue-text:visited{
    color:   #03B2B2 !important;
}

.navcols{
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.navcolapsed{
    text-align: center;
    display: flex;
    align-items: center;
    display:inline-block;
    float: none;
}

.navcols:hover{
    color: #FF3AAA !important;
    font-size: 15px;
}
.btn-pink{
    color: white;
    box-shadow: 0px 0px 0px -7px rgb(0 0 0 / 0%);
    background-color: #FF3AAA !important;
    background: #FF3AAA;
    padding: 0.4em 1em;
    border: 0;
    line-height: 1.6;
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: white;
    box-shadow: 0px 0px 0px -7px rgb(0 0 0 / 0%);
    background-color: #03B2B2 !important;
    background: #FF3AAA;
    padding: 0.4em 1em;
    border: 0;
    line-height: 1.6;
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
}

.space{
    width: 50%
}





  